<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex; align-items: center; flex-direction: column; text-align: center;">
        <h2>Display Users here </h2>
        
        <table style="font-size: 16px;">
            <th>
                <tr >
                    <td style = "margin-right: 35px"> name  </td>
                    <td></td>
                    <td>  email</td>
                    <td></td>
                    <td> password </td>
                </tr>
            </th>
            <tbody>
                
                    <% users.forEach(function(user) { %>
                        <tr> 
                            <form action="http://localhost:8080/users/delete" method="post"> 
                                <td ><%= user.name %></td>
                                <td>|||</td>
                                <td><a href=""> <%= user.email %></a></td>
                                <td>|||</td>
                                <td><a href=""> <%= user.password %></a></td>
                                <input style="display: none;" name="id" type="number" value= "<%= user.id %>" />
                                <td><button type="submit" style="background-color: rgb(173, 50, 50); color: white;">DELETE</button></td>
                        
                            </form>
                        </tr> 
                    <% }); %>
                
            </tbody>
        </table>

        <form action="http://localhost:8080/users" method="post">
            <h2>Add User here</h2>
            <input type="text"  placeholder="name" name="name"  required>
            <input type="email"  placeholder="email" name="email"  required>
            <input type="password"  placeholder="password" name="password"  required>
            <button style="background-color: lightgreen;" type="submit">SEND</button>
        </form>


       <form style="margin-top:50px;" action="http://localhost:8080/users/login" method="post">
        <h2>login here with  email and password</h2>
        <input type="email"  placeholder="email" name="email"  required>
        <input type="password"  placeholder="password" name="password"  required>
        <button style="background-color: skyblue;" type="submit">LOGIN</button>
       </form>
       
       
       


    </div>
    <style>
        input {
            border-radius: 10px;
            width: 150px;
            height: 30px;
            font-size: 18px;
            padding: 10px;
            background-color: antiquewhite;
        }
        button {
            border-radius: 10px;
            font-size: 18px;
            width: 110px;
            height: 50px;
        }
        table  tr td {
            font-size: 16px;
        }
    </style>
</body>
</html>